aiohttp==3.9.5
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cron-descriptor==1.4.3
dbt==1.0.0.38.5
decorator==5.1.1
dlt==0.5.1
frozenlist==1.4.1
fsspec==2024.6.1
gcsfs==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
giturlparse==0.12.0
google-api-core==2.19.1
google-auth==2.32.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.25.0
google-cloud-bigquery-storage==2.25.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
grpcio==1.64.1
grpcio-status==1.62.2
hexbytes==1.2.1
humanize==4.10.0
idna==3.7
jsonpath-ng==1.6.1
makefun==1.15.4
multidict==6.0.5
numpy==2.0.0
oauthlib==3.2.2
orjson==3.10.6
packaging==24.1
pathvalidate==3.2.0
pendulum==3.0.0
pipdeptree==2.9.6
ply==3.11
proto-plus==1.24.0
protobuf==4.25.3
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
requirements-parser==0.9.0
rsa==4.9
semver==3.0.2
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
tenacity==8.5.0
time-machine==2.14.2
tomlkit==0.13.0
types-setuptools==70.3.0.20240710
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
yarl==1.9.4
